<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://i2-prod.mirror.co.uk/incoming/article14334083.ece/ALTERNATES/s615/3_Beautiful-girl-with-a-gentle-smile.jpg"
    />
    <link
      rel="preload"
      nonce="cd83dbb5507c13abdceaee5c40d8bf3f"
      href="{{ image }}"
      as="image"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Create, sell and collect truly rare digital 3d artworks.
      Powered by blockchain technology."
    />

    <meta
      property="og:image"
      name="og:image"
      content="{{ image }}"
      data-app="true"
    />
    <meta property="og:image:alt" content="Image" />

    <meta name="msapplication-TileImage" content="{{ image }}" />
    <meta
      property="twitter:image:src"
      name="twitter:image:src"
      content="{{ image }}"
      data-app="true"
    />

    <title>cgafrica</title>
  </head>
  <body>
    <!-- <p>{{ redirect_url }}</p> -->

    <!-- <center><img style="width:300px;" src="{{ image }}"></img> </center> -->

    <p id="redirect_url" style="visibility: hidden">{{ redirect_url }}</p>

    <script>
      function myFunction() {
        let redirect_url = document.getElementById("redirect_url").innerHTML;

        if (
          (navigator.userAgent.indexOf("Opera") ||
            navigator.userAgent.indexOf("OPR")) != -1
        ) {
          window.location = redirect_url;
        } else if (navigator.userAgent.indexOf("Chrome") != -1) {
          window.location = redirect_url;
        } else if (navigator.userAgent.indexOf("Safari") != -1) {
          window.location = redirect_url;
        } else if (navigator.userAgent.indexOf("Firefox") != -1) {
          window.location = redirect_url;
        } else if (
          navigator.userAgent.indexOf("MSIE") != -1 ||
          !!document.documentMode == true
        ) {
          //IF IE > 10
          window.location = redirect_url;
        } else {
        }
      }

      myFunction();
    </script>
  </body>
</html>
